{% extends 'base.html.twig' %}

{% block title %}Jeux index{% endblock %}

{% block body %}
    <h1>Jeux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Nbretours</th>
                <th>Produit</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeux in jeuxes %}
            <tr>
                <td>{{ jeux.id }}</td>
                <td>{{ jeux.libelle }}</td>
                <td>{{ jeux.nbretours }}</td>
                <td>{{ jeux.produit }}</td>
                <td>{{ jeux.description }}</td>
                <td>
                    <a href="{{ path('jeux_show', {'id': jeux.id}) }}">show</a>
                    <a href="{{ path('jeux_edit', {'id': jeux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jeux_new') }}">Create new</a>
{% endblock %}
