{% extends 'base.html.twig' %}

{% block title %}Paramdecision{% endblock %}

{% block body %}
    <h1>Paramdecision</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paramdecision.id }}</td>
            </tr>
            <tr>
                <th>Parametre</th>
                <td>{{ paramdecision.parametre }}</td>
            </tr>
            <tr>
                <th>Valeurinit</th>
                <td>{{ paramdecision.valeurinit }}</td>
            </tr>
            <tr>
                <th>Augmtour</th>
                <td>{{ paramdecision.augmtour }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('paramdecision_index') }}">back to list</a>

    <a href="{{ path('paramdecision_edit', {'id': paramdecision.id}) }}">edit</a>

    {{ include('paramdecision/_delete_form.html.twig') }}
{% endblock %}
